*{
    margin: 0;
    padding: 0;
}

.search-container{
    /* border: red solid; */
    display: flex;
   
    justify-content: center;
    align-items: center;
    color: #4f5665;
    font-family: Rubik;
    font-weight: 500;
    
    gap: 1rem;
    height: 100px;
    margin-left: 100px;
    margin-right: 100px;
    

}

.search-container .input{
    padding: 0.5rem;
    margin-left: 5px;
    border-radius: 0.5rem;
    border-color: aliceblue;
    
}
.filter-button .btn-filter{
  background: #e72222;

  border-radius: 999px;
  box-shadow: #5e5df0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  /* margin-top: 2rem;
  margin-left: 195px;
  margin-right: 200px; */
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji",
    NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji",
    EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", sans-serif;
  font-size: 12px;
  font-weight: 500;

  /* line-height: 24px; */
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 120px;
  word-break: break-word;
  border: 0;
}